{% extends 'base.html.twig' %}

{% block title %}Edit InfoCollaborators{% endblock %}

{% block body %}
    <h1>Edit InfoCollaborators</h1>

    {{ include('info_collaborators/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_info_collaborators_index') }}">back to list</a>

    {{ include('info_collaborators/_delete_form.html.twig') }}
{% endblock %}
